@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&display=swap');
*{
  font-family: 'Roboto One', sans-serif;
  overflow-x: hidden; 
  margin: 0;
  padding: 0;
}

/*Navbar and Dropdown Menu Section*/
nav{
  background: #1D348F;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  padding: 0 100px;
  
}
nav .logo_left, .logo_right{
  letter-spacing: -1px;
}

.logo_left{
  position: relative;
  left: -50px;
  top: -20px;
}

.logo_right{
  position: relative;
  left: -160px;
  top: -20px;
}

.nav-items{
  position: relative;
  left: 120px;
  top: -20px;
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #FFFF;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;

}
nav .nav-items li a:hover{
  color: rgb(129, 152, 228);
  transition: 0.5s ease;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18%!important;
  border-radius: 2px;
  border: 2px solid #FEE715;
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #FEE715;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #FEE715;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #FEE715;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
/*Home and Auto Slider Section Styling*/

.auto_slider {
  margin-top: 80px;
  position: relative;
}
.mySlides_auto 
{display: none;
justify-content: center;
text-align: center;
align-items: center;
margin: 0 auto;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.auto_dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.slideshow_text {
    color: white;
    position: absolute;
    top: 200px;
    left: 150px;
}
.slideshow_desc p {
    width: 300px;
    font-weight: bold;
    font-size: 20px;
    background-color: none;
    
}
.slideshow_button{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;

}
.slideshow_button p{
    font-size: 18px;
    font-weight: bold;
    background-color: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
    color: white;
    border-radius: 10px;
    border: 4px solid;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.dot_pos{
  text-align: center;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  bottom: 80px;
  left: 48%;
}


/*About and mamual slider section*/
.about_section{
}
.about_text{
  display: inline-grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  padding-left: 100px;
}
.about_title{
  color: #4183BD;
  font-weight: bold;
  font-size: 27px;
}
.about_desc{
  
  width: 500px;
  font-size: 25px;
  color: #89B4D7;
}
.about_button_sm{
  color: #89B4D7;
  border: 4px solid #89B4D7;
  background-color: none;
  border-radius: 5px;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 0;
  width: 130px;
  height: 28px;
  cursor: pointer;
  transition: 0.5s;
}
.about_button_sm:hover{
  color: #fff;
  border: 4px solid #fff;
  background-color: #89B4D7;
  transition: 0.5s;
}



/*Slider styling section*/
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.w3-container{
  text-align: center;
  padding-top: 100px;
}

.w3-left, .w3-right {
font-size: 60px;
color: #4D648E;
position: absolute;
top: 1550px;
transform: translateY(-50%);
transition: 0.3s;
}

.w3-left { left: 400px; }
.w3-right { right:400px; top: 1550px;}

.image_slider{
  position: relative;
  right: -450px; /*or you can use left: 450px. this is optional*/
}

.image_text{
  text-align: center;
  position: relative;    
  left: 220px; /*Or right: -220px*/
  
}

.text_slider{
  /*width: 330px;*/ /*or you can use <br>*/
  font-size: 25px;
  font-weight: bold;
}

.km{
  color: #4183BD;
}
.dm{
  color: #ECDD3F;
}
.hr{
  color: #18E530;
}
.hy{
  color: #B144FA;
}
.hn{
  color: #F915E2;
}

/*Dsicography and music player section*/

:root {
  --color-accent: #ffffff;
  --backgroundcolor: #26282c;
  --shadow-dark: #18191b;
  --shadow-light: #34373d;
  --blue: rgba(0, 146, 172, 1);
}
.discography_title{
  position: absolute;
  color: #4183BD;
  font-weight: bold;
  font-size: 27px;
  padding-left: 100px;
  margin-bottom: 100px;
}

.Discography{
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFF;
  margin-top: 100px;
}


i {
  width: 100%;
  text-shadow: -4px -4px 6px var(--shadow-dark),
              4px 4px 6px var(--shadow-light);
}

.app-container {
  position: relative;
  background-color: var(--backgroundcolor);
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),
    2px 2px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  overflow:hidden;
  box-sizing: border-box;
  padding-bottom:20px;
  width:400px;
}
#uiWrap {
  position: relative;
  padding:0 40px;
  box-sizing: border-box;
  z-index:3;
  margin-top:-60px;
}
#albumArt {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom:-100px;
}
#fade {
  position: relative;
  z-index: 2;
  width:100%;
  height:100px;
  background: linear-gradient(180deg, rgba(38,40,44,0) 0%, rgba(38,40,44,1) 82%);
}
#trackTitle {
  font-size: 1.7rem;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-accent);
  font-size: 1em;
  font-weight: 400;
  border: none;
  border-radius: 60px;
  height: 2.5rem;
  width: 2.5rem;
  background: var(--backgroundcolor);
  box-shadow: 4px 4px 8px var(--shadow-dark),
              -4px -4px 8px var(--shadow-light);
}

button:hover {
  box-shadow: 2px 2px 5px var(--shadow-dark),
              -2px -2px 5px var(--shadow-light);
}

button:active {
  background: var(--backgroundcolor);
  box-shadow: inset 2px 2px 5px var(--shadow-dark),
              inset -2px -2px 5px var(--shadow-light);
}

.audio-controls {
  text-align: center;
}

#playPauseBtn {
  height: 60px;
  width: 60px;
  margin: 0 20px 20px;
}

#shuffleBtn.active,
#loopBtn.active {
  color: var(--blue);
}

#volume {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0;
  top:10px;
  left:10px;
  z-index:3;
  background-color:rgba(0,0,0,0);

}
 
#volume-bar {
  position: relative;
  width: 100px;
  transform: translateY(-3px);
  opacity:0;
  transition: all 0.3s ease-out;
  transition-delay: 1000ms;
}
#volume:hover #volume-bar, #volume:active #volume-bar {
  opacity:1;
  transition: all 0.3s ease-out;
}
.muted {
  pointer-events: none;
  opacity: 0.7;
}

#muteBtn {
  box-shadow: none;
  background: none;
  font-size:0.8em;
}

#volumeSlider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(0, 0, 0, 0.6);
  outline: none;
  border-radius: 10px;
}

.volume-indicator {
  position: absolute;
  height: 5px;
  width: 0;
  background: white;
  border-radius: 5px;
  pointer-events: none;
  top: 0;
  left: 0;
}

#volumeSlider::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  background: white;
}

#volumeSlider::-moz-range-thumb {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  background: white;
}

#volumeSlider::-ms-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  background: white;
}

.seek-bar {
  position: relative;
  height: 40px;
}

#seekSlider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  border-radius: 10px;
}

.buffering-indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  border-radius: 10px;
  background: var(--blue);
  width: 0;
  pointer-events: none;
  z-index: 1;
  opacity: 0.4;
}

.seek-indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background: var(--blue);
  border-radius: 10px;
  pointer-events: none;
  z-index: 1;
  width: 0;
}

#seekSlider::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  background: var(--blue);
  box-shadow: 4px 4px 8px var(--shadow-dark),
              -4px -4px 8px var(--shadow-light);
}

#seekSlider::-moz-range-thumb {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  background: var(--blue);
  box-shadow: 4px 4px 8px var(--shadow-dark),
              -4px -4px 8px var(--shadow-light);
}

#seekSlider::-ms-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  background: var(--blue);
  box-shadow: 4px 4px 8px var(--shadow-dark),
              -4px -4px 8px var(--shadow-light);
}

#seekSlider::-webkit-slider-thumb:hover {
  box-shadow: 2px 2px 5px var(--shadow-dark),
              -2px -2px 5px var(--shadow-light);
}

#volumeSlider::-moz-range-thumb:hover {
  box-shadow: 2px 2px 5px var(--shadow-dark),
              -2px -2px 5px var(--shadow-light);
}

#volumeSlider::-ms-thumb:hover {
  box-shadow: 2px 2px 5px var(--shadow-dark),
              -2px -2px 5px var(--shadow-light);
}

#seekSlider::-moz-range-thumb:hover {
  box-shadow: 2px 2px 5px var(--shadow-dark),
              -2px -2px 5px var(--shadow-light);
}

#seekSlider::-ms-thumb:hover {
  box-shadow: 2px 2px 5px var(--shadow-dark),
              -2px -2px 5px var(--shadow-light);
}

#currentTime, #trackTime {
  position: absolute;
  top: -30px;
  font-size: 0.7em;
}

#currentTime {
  left: 0;
}

#trackTime {
  right: 0;
}

#likeBtn {
  box-shadow: none;
  background: none;
  margin: 10px 20px;
  transition:all 200ms cubic-bezier(.17,-0.99,.61,1.73);
}
#likeBtn:hover {
  transform:scale(1.3);
  transition:all 200ms cubic-bezier(.17,-0.99,.61,1.73);
}
#loopBtn, #shuffleBtn {
  box-shadow: none;
  background: none;
  margin: 0 10px;
  font-size: 0.9rem;
}


/*Gallery and Hover Effect Section styling*/
.gallery_title{
  color: #4183BD;
  font-weight: bold;
  font-size: 27px;
  padding-left: 100px;
}

.gallery_head {
  border: 3px solid #150D83;
  border-radius: 20px;
  background-color: #EFF8FF;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 600px;
  margin: 0 auto;
}

.gallery_head p{
  color: #150D83;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
}

.gallery_board{
  background-color: #C59C6E;
}

.hover-gallery {
transform: translate3d(0, 0, 0);
background-color: #C59C6E;
padding: 50px;
min-height: 600px;
text-align: center;
}

.gallery-container {
padding: 0;
margin: 0;
filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}

.gallery-wrap {
display: flex;
flex-direction: row;
width: 100%;
height: 600px;
}

.item {
flex: 1;
height: 100%;
background-position: center;
background-size: cover;
background-repeat: none;
transition: flex 0.8s ease;
transition-delay: 0.25s;
}

.item:hover {
flex: 14;
}

.item p {
position: absolute;
top: 0;
margin: 2rem;
padding: 1rem;
display: none;
color: #fff;
filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}

.item:hover p {
display: block;
animation: fade-in 2.5s ease;
}

.sm_gallery{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #89B4D7;
    border: 4px solid #89B4D7;
    background-color: #fff;
    border-radius: 5px;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 0;
    width: 130px;
    height: 28px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 50px;
  }
  .sm_gallery:hover{
    color: #fff;
    border: 4px solid #fff;
    background-color: #89B4D7;
    transition: 0.5s;
  }



/*Footer Section*/
.footer {
  position: relative;
  width: 1300px;
  height: 200px;
  background-color: #192C79;
  bottom: 0; /*Fix Position or abslolute post*/
}

.footer_image{
  position: absolute;
  right: 200px;
  bottom: 5px;
}

.footer_text{
  display: flex;
  gap: 50px;
  padding-left: 30px;
  padding-top: 50px;
}

.footer_text h1{
  color: white;
  font-size: larger;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-resolution: 0 auto;
}

.footer_text p{
  color: white;
  font-weight: bold;
}